SSH_KEY=ssh-key.pem
REMOTE_USERNAME=mchan__

# Nodes for Running the Protocols
NUM_OF_NODES=3

PUBLIC_IP1=127.0.0.1
PUBLIC_IP2=127.0.0.1
PUBLIC_IP3=127.0.0.1

PRIVATE_IP1=127.0.0.1
PRIVATE_IP2=127.0.0.1
PRIVATE_IP3=127.0.0.1

# Benchmark Client and Output File
CLIENT_PUBLIC_IP=127.0.0.1
CLIENT_PRIVATE_IP=127.0.0.1
OUTPUT_FILE=data.json

# k6 Latency benchmark Configurations
WARMUP_DURATION=60s
DURATION=180s
WRITE_RATIO=0.2
