NUM_OF_NODES=3

SSH_KEY=ssh-key.pem
REMOTE_USERNAME=ubuntu

PUBLIC_IP1=127.0.0.1
PUBLIC_IP2=127.0.0.1
PUBLIC_IP3=127.0.0.1

PRIVATE_IP1=127.0.0.1
PRIVATE_IP2=127.0.0.1
PRIVATE_IP3=127.0.0.1

# YCSB Client and Output File
CLIENT_IP=127.0.0.1
OUTPUT_FILE=data.json

# YCSB Benchmark Configuration
DEFAULT_RECORD_COUNT=1000000
DEFAULT_OPERATION_COUNT=500000
LOAD_INSERT_RETRY_LIMIT=80
LOAD_INSERT_RETRY_INTERVAL=1
FIELD_COUNT=1
FIELD_LENGTH=100
LOAD_THREAD_COUNT=64
BENCHMARK_SEED=42
BENCHMARK_THREAD_COUNTS=2,4,8,16,32,64,128,192,256,384,512,704,896
